﻿@{
    ViewBag.Title = "Map page";
}
@model List<SelectListItem>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link rel="stylesheet" href="~/Content/bootstrap-select.min.css">
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="~/Scripts/app/MainViewScript.js"></script>
@*//<link rel="stylesheet" href="~/Content/Site.css">*@
<center>
    <div class="row" style="display: inline" align="center">
        <div style="display: inline" align="center">
            <label>State:</label>
            @Html.DropDownList("SelectPickerState", Model, new { id = "selectPickerState", @class = "selectpicker" })
        </div>
        <div style="display: inline" align="center">
            <label>County:</label>
            <select class="selectpicker" id="selectPickerCounty"></select>
        </div>
        <div style="display: inline" align="center">
            <img id="loading" style="text-align: center; visibility: hidden;" src="/Content/progress.gif" />
        </div>
    </div>
</center>
<div class="row">
    <div id="map"></div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Full address</th>
                <th>State</th>
                <th>Lien Number</th>
                <th>Owner</th>
                <th>Lien Holder</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>
<script>
    var markers = [];
    var locations = [];
    var map;
    var markerCluster;
    $(document).ready(function () {
        MarkerClusterer.prototype.onRemove = function () {
            this.setReady_(true);
        };
        updateCounties();
    });

    window.onload = function () {
        setCenter();
        onUpdateCountyValue();
    };

    $('#selectPickerState').on('changed.bs.select', function (e) {
        onUpdateStateValue(this);
        setCenter();
    });

    $('#selectPickerCounty').on('changed.bs.select',
        function (e) {
            onUpdateCountyValue();
            setCenter();
        });


    window.initMap = function () {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: { lat: 40.501678, lng: -101.381819 }
        });
        markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: "TEST"
            });
        });

        // Add a marker clusterer to manage the markers.
        markerCluster = new MarkerClusterer(map, markers,
            { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        google.maps.event.addListener(map, 'idle', dragMap);
    }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcLQuRhwdvPC_jQMkeK_SntWNpLUGLOxI&callback=initMap"></script>